body {
	background-color: #81CFE0;  
	background-image: linear-gradient(
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.4)
		),
		url("/images/bg3.jpeg");
	/*background: url("/images/bg3.jpeg");*/
	background-attachment: fixed;
	height: auto;
	background-size: cover;
	background-position: center center; 
}

@font-face {
    font-family: "cooper";
    src: url(/fontfamily/cooper-hewitt/CooperHewitt-Light.otf);
  }

@font-face {
	font-family: "montserrat";
	src: url(/fontfamily/montserrat_alt/MontserratAlternates-Regular.ttf);
}

.navbar,
.navbar-collapse .navbar-nav .open a,
.dropdown-menu {
	background-color: #336E7B;
	border-bottom: 	transparent;
}

/*.nav li a {
	background-color: #336E7B;
}*/

.navbar-header .navbar-brand,
.navbar-collapse .navbar-nav li a {
	color: 	#C5EFF7;
	font-family: "montserrat";
}

.navbar-collapse .navbar-nav li ,
.navbar-collapse .navbar-nav li ul li  {
	background-color: #336E7B;
	font-family: "montserrat";
}

.navbar-header .navbar-brand:hover,
.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:focus,
.navbar-collapse .navbar-nav .open a:hover,
.navbar-collapse .navbar-nav .open a:focus
/*.navbar-collapse .navbar-nav li ul li a:hover*/ {
	background-color: #336E7B;
	color: white;
}


.navbar-header .navbar-toggle .icon-bar {
	background-color: #C5EFF7;
}

.navbar-header .navbar-toggle {
	border: 1px solid transparent;
}

/*.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
}*/

/*.navbar-header .navbar-toggle:hover {
	background-color: white;
}*/

/*.navbar-header .navbar-toggle:focus {
	background-color: transparent;
}*/

.profleft {
	padding: 15px;
	min-width: 200px;
}

.profleft p {
	text-align: left;
}

.profleft img {
	padding-bottom: 15px;
}

/*body {
	background: transparent url('/images/bg3.jpeg') no-repeat center
}*/

.regdiv,
.logindiv {
	padding-top: 6%;
	
}

.flist {
	/* padding: 15px; */
	/* border: 1px solid black; */
	/* border: 1px solid #C5EFF7; */
	/* margin: 15px; */
	text-align: center;
	justify-content: center;
	/* background-color: #336E7B; */
}

.flist img {
	/*width: 100%;*/
	/*height: 100%;*/
	padding-bottom: 20px;
}

.flist_div {
	border: 1px solid #C5EFF7;
    background-color: #336E7B;
    padding: 15px;
    margin: 15px;
}

.flist_tabs li.active a,
.flist_tabs li.active a:hover,
.flist_tabs li.active a:focus,
.flist_tabs li a:hover,
.flist_tabs li a:focus {
	background-color: #C5EFF7;
	color: #336E7B;
	font-weight: bold;
}

.media {
	padding: 20px;
}

/*.btns {
	text-align: center;
}*/

/*#imagepost {
	display: none;
}*/

.mycontent {
	margin-top: 70px;
}

.searchresult {
	background-color: transparent; 
	border: 1px solid transparent;
}

.searchdiv {
	padding: 15px;
	border: 1px solid black;
	margin: 15px;
	text-align: center;
	justify-content: center;
}

.panel-heading,
.panel-body {
	font-family: "montserrat";
}

.nav-tabs li a {
	font-family: "montserrat";
}

.nav-tabs {
	/*background-color: white;*/
	background-color: #336E7B;
}

.nav-tabs > li > a {
	color: #C5EFF7;
}

.unfriend,
.cancelReq {
	margin-top: 10rem;
}


.addpostbtn {
	padding-top: 20px;
	padding-bottom: 20px; 
}

#ddown-edit {
    border: none;
    background: transparent;
}

#ddown-edit:hover {
    color: #41a9e4;
}

.ddown-profile {
    background-color: #f5f8fa!important;
}

.ddown-profile a:hover {
    background-color: #C5EFF7!important;
}

.btnTrans {
	border-color: transparent;
	background-color: transparent;
	padding-right: unset;
}

.btnTrans:focus {
	outline: transparent;
}

.inputGroupSpan,
.txtArea,
.likeCommentDiv {
	color: #336e7b;
}
	
.inputGroupSpan,
.likeCommentDiv button span,
.likeCommentDiv {
	font-weight: bold;
}

.wellDiv,
.likeCommentDiv {
	margin-left: 8rem;
}

.imagePost {
	width: 100%; 
	height: auto;
}

.txtArea {
	resize: none;
}

.postComment {
	width: 86%;
}

.profPostComment {
	width: 86%;
}

.dateCommented {
	font-size: x-small;
	color: lightslategray;
	display: block;
}

.datePosted {
	font-size: smaller;
	color: lightslategray;
}

.commentAvatar {
	float: left;
    margin-right: 10px;
}

.userAvatar {
	float: left;
	margin-right: 10px;
}

.userAvatar img {
	width:70px; 
	height: 70px; 
	object-fit: cover;
}

.avatarDateDiv {
	padding-left: 60px;
	word-break: break-word;
}

.commenterDateDiv {
	word-break: break-word;
    padding-left: 44px;
}

.likeCommentDiv {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    padding-top: 5px;
	padding-bottom: 5px;
}

.showedComments {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-top: 5px;
}

.homePost {
	padding: 25px;
}

.profilePost {
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: unset;
}

.profileEditDeletePost {
	padding-top: 15px;
}

#editprof {
	margin-top: 8rem;
}

#addpost,
.editPost {
	margin-top: 6rem;
}

.deletePost {
	margin-top: 15rem;
}

.rowPost {
	margin-right: unset!important;
	margin-left: unset!important;
	margin-top: 12px;
    margin-bottom: 12px;
}

.commentUser {
	clear: both;
	vertical-align: middle;
}

.commentUser,
.commentBody,
.postComment,
.profPostComment {
	font-weight: normal;
}

.commentBody {
	padding-left: 45px;
	padding-top: 1%;
	word-break: break-word;
}

/* .showOnMobile {
	display: none;
} */

.likeDiv,
.commentDiv {
	width: 27%;
	display: table-cell;
	text-align: center;
}






@media (min-width: 768px) {
	.search-form {
		padding-top: 10px;
	}
}

@media (min-width: 1025px) {
	.likeDiv, 
	.commentDiv {
		width: 19%;
	}
}

@media (min-width: 1441px) {
	.likeDiv, 
	.commentDiv {
		width: 10%;
	}
}



@media screen and (max-width: 768px) {
	.postComment {
		width: 90%;
	}

	.profPostComment {
		width: 89%;
	}
}

@media screen and (max-width: 425px) {	
	.hideOnMobile {
		display: none;
	}
	
	/* .showOnMobile {
		display: block;
	} */
	
	.likeDiv,
	.commentDiv {
		width: 20%;
	}
	
	.likeCommentDiv i {
		font-size: medium;
	}
	
	.wellDiv, .likeCommentDiv {
		margin-left: unset;
		margin-top: 10px;
	}
	
	.postComment {
		width: 84%;
	}

	.profPostComment {
		width: 82%;
	}
	
	.userAvatar img {
		width:60px; 
		height: 60px; 
	}

	.dateCommented i {
		font-size: x-small;
	}

	.homePost {
		padding: 18px;
	}

	.profilePost {
		padding-top: 18px;
		padding-left: 10px;
		padding-bottom: 18px;
		padding-right: unset;
	}

	.wellDiv .postContent span,
	.wellDiv .postContent textarea,
	.likeCommentDiv {
		font-size: 13px;
	}

	.profileEditDeletePost {
		padding-right: unset;
		padding-left: unset;
	}
}


@media screen and (max-width: 375px) {
	.userAvatar img {
		width:50px; 
		height: 50px; 
	}

	.wellDiv, .likeCommentDiv {
		margin-top: unset;
	}

	.postComment {
		width: 80%;
	}

	.profPostComment {
		width: 79%;
	}

	.likeDiv,
	.commentDiv {
		width: 23%;
	}
}

@media screen and (max-width: 320px) {	
	.flist_div .uname {
		white-space: pre-wrap;
	}

	.postComment {
		width: 74%;
	}
	
	.profPostComment {
		width: 74%;
	}

	.likeDiv, 
	.commentDiv {
		width: 27%;
	}
}

