body {
	background-color: #81CFE0;  
	background-image: linear-gradient(
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.4)
		),
		url("/images/bg3.jpeg");
	/*background: url("/images/bg3.jpeg");*/
	background-attachment: fixed;
	height: auto;
	background-size: cover;
	background-position: center center; 
}

@font-face {
    font-family: "cooper";
    src: url(/fontfamily/cooper-hewitt/CooperHewitt-Light.otf);
  }

@font-face {
	font-family: "montserrat";
	src: url(/fontfamily/montserrat_alt/MontserratAlternates-Regular.ttf);
}

.navbar,
.navbar-collapse .navbar-nav .open a,
.dropdown-menu {
	background-color: #336E7B;
	border-bottom: 	transparent;
}

/*.nav li a {
	background-color: #336E7B;
}*/

.navbar-header .navbar-brand,
.navbar-collapse .navbar-nav li a {
	color: 	#C5EFF7;
	font-family: "montserrat";
}

.navbar-collapse .navbar-nav li ,
.navbar-collapse .navbar-nav li ul li  {
	background-color: #336E7B;
	font-family: "montserrat";
}

.navbar-header .navbar-brand:hover,
.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:focus,
.navbar-collapse .navbar-nav .open a:hover,
.navbar-collapse .navbar-nav .open a:focus
/*.navbar-collapse .navbar-nav li ul li a:hover*/ {
	background-color: #336E7B;
	color: white;
}


.navbar-header .navbar-toggle .icon-bar {
	background-color: #C5EFF7;
}

.navbar-header .navbar-toggle {
	border: 1px solid transparent;
}

/*.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
}*/

/*.navbar-header .navbar-toggle:hover {
	background-color: white;
}*/

/*.navbar-header .navbar-toggle:focus {
	background-color: transparent;
}*/

.profleft {
	padding: 15px;
	min-width: 200px;
}

.profleft p {
	text-align: left;
}

.profleft img {
	padding-bottom: 15px;
}

/*body {
	background: transparent url('/images/bg3.jpeg') no-repeat center
}*/

.regdiv,
.logindiv {
	padding-top: 6%;
	
}

.flist {
	padding: 15px;
	border: 1px solid black;
	margin: 15px;
	text-align: center;
	justify-content: center;
}

.flist img {
	/*width: 100%;*/
	/*height: 100%;*/
	padding-bottom: 20px;
}



.media {
	padding: 20px;
}

/*.btns {
	text-align: center;
}*/

/*#imagepost {
	display: none;
}*/

.mycontent {
	margin-top: 70px;
}

.searchresult {
	background-color: transparent; 
	border: 1px solid transparent;
}

.searchdiv {
	padding: 15px;
	border: 1px solid black;
	margin: 15px;
	text-align: center;
	justify-content: center;
}

.panel-heading,
.panel-body {
	font-family: "montserrat";
}

.nav-tabs li a {
	font-family: "montserrat";
}

.nav-tabs {
	/*background-color: white;*/
	background-color: #336E7B;
}

.nav-tabs > li > a {
	color: #C5EFF7;
}

.addpostbtn {
	padding-top: 20px;
	padding-bottom: 20px; 
}

#ddown-edit {
    border: none;
    background: transparent;
}

#ddown-edit:hover {
    color: #41a9e4;
}

.ddown-profile {
    background-color: #f5f8fa!important;
}

.ddown-profile a:hover {
    background-color: #C5EFF7!important;
}